<div class="col-md-6 col-md-offset-3 text-center">
    <br/>
    <h4>جهت طراحی فرمت های خروجی ابزار مدلساز تاران را از لینک زیر دانلود کنید و پس طراحی فرمت های خروجی، فایل خود را از طریق تب فایل ها در پوشه </h4>
    <h4>.../my-compoennt/export/</h4>
    <h4> بار گذاری نمایید.</h4>
    <br/>
    <a href="https://community.jaspersoft.com/project/jaspersoft-studio/releases">دانلود ابزار مدلساز</a>
</div>