body, html {
  font-family: sans-serif;
}

.comments-overlay {
  background: #52B415;
  font-size: 12px;

  color: white;
  display: none;
}

.selected .comments-overlay,
.comments-overlay.with-comments {
  display: block;
}

.comments-overlay .edit {
  margin: 2px 0 0 0;
  padding-top: 2px;
}

.comments-overlay .edit textarea {
  border: none;
  margin: 0;
}

.comments-overlay .icon-comment:hover {
  color: #EEE;
}

.comments-overlay .comment {
  border-top-color: white;
}


.comments-overlay .icon-comment {
  margin-right: 2px;
}

.comments-overlay .icon-delete {
  color: white;
}


/** fonts **/

@font-face {
  font-family: 'bpmn-js-comments';
  src: url('comment-font/bpmn-js-comments.eot?23532594');
  src: url('comment-font/bpmn-js-comments.eot?23532594#iefix') format('embedded-opentype'),
       url('comment-font/bpmn-js-comments.woff?23532594') format('woff'),
       url('comment-font/bpmn-js-comments.ttf?23532594') format('truetype'),
       url('comment-font/bpmn-js-comments.svg?23532594#bpmn-js-comments') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bpmn-js-comments";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
}

.icon-comment:before { content: '\e800'; }
.icon-delete:before { content: '\e802'; }