<?xml version="1.0" encoding="UTF-8"?>
<!-- Trn license -->
<screen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://moqui.org/xsd/xml-screen-2.1.xsd"
        require-authentication="anonymous-view">
    <widgets>
        <subscreens-active/>
    </widgets>
</screen>
