/************ APP:form fix & rtl styles *************/

.formio-trn-rtl .form-group{
    text-align: right;
    direction: rtl;
}
.formio-trn-rtl .form-group .formio-component-phoneNumber input{
    text-align: left;
    direction: ltr;
}

.input-group-addon:last-child {
    border-left: 1px solid #ccc;
    border-right: 0;
}
.input-group-addon:first-child {
    border-left: 0;
    border-right: 1px solid #ccc;
}
.formio-trn-rtl  .input-group .input-group-addon,.formio-trn-rtl  .input-group .input-group-btn {
    display: unset;
    line-height: 39px;
    padding: 6px 12px;
}
.formio-trn-rtl .form-field-type-textfield input {
    text-align: right;
    /*direction: rtl;*/
}

.formio-trn-rtl .form-field-type-textarea.has-feedback .form-control,.formio-trn-rtl .form-field-type-textfield.has-feedback .form-control,.formio-trn-rtl .form-field-type-select.has-feedback .form-control {
    padding-right: 12px;
    padding-left: 49px;
}
.formio-trn-rtl .ui-select-bootstrap .ui-select-choices-row>span {
    direction: rtl;
    text-align: right;
}
.formio-trn-rtl .ui-select-bootstrap .ui-select-toggle>.caret {
    left: 10px;
    right: auto;
}
.formio-trn-rtl .ui-select-match-text, .ui-select-placeholder {
    margin-left: -15px;
    margin-right: 0;
    text-align: right;
    direction: rtl;
}
.formio-trn-rtl .ui-select-bootstrap .ui-select-match-text {
    padding-right: 0;
    padding-left: 1em;
}

.formio-trn-rtl .form-field-type-radio .radio input,.formio-trn-rtl .form-field-type-selectboxes .checkbox input,.formio-trn-rtl .form-field-type-checkbox .checkbox input{
    direction: rtl;
    text-align: right;
    margin-right: -20px;
    margin-left: 0;
}

.formio-trn-rtl .form-field-type-radio .radio label,.formio-trn-rtl .form-field-type-selectboxes .checkbox label,.formio-trn-rtl .form-field-type-checkbox .checkbox label{
    padding-left: 0;
    padding-right: 20px;
}

.formio-trn-rtl .form-field-type-file table{
    direction: ltr;
}

.formio-trn-rtl th{
    text-align: right;
}

.ng-jalaali-flat-datepicker-wrapper {
    display: block;
}

.input-group-btn button{
    height: 39px;
}
.radio-inline, .checkbox-inline{
    padding-left:20px;
    padding-right:20px;
    direction:rtl;
    text-align:right;
}
.radio-inline input[type="radio"], .checkbox-inline input[type="checkbox"]{
    margin-left: 15px;
    margin-right: -20px;
}
.has-feedback .form-control {
    padding-left: 5px;
    padding-right: 5px;
}
.formio-trn-rtl .form-field-type-textarea.has-feedback .form-control, .formio-trn-rtl .form-field-type-textfield.has-feedback .form-control, .formio-trn-rtl .form-field-type-select.has-feedback .form-control{
    padding-left: 5px;
    padding-right: 5px;
}
.formio-trn-rtl  .radio label,.formio-trn-rtl  .checkbox label{
    padding-left: 0;
    padding-right: 20px;
}
.formio-trn-rtl  .radio input[type="radio"], .formio-trn-rtl .checkbox input[type="checkbox"]{
    margin-left: 0;
    margin-right: -20px;
}
.trn-ltr input{
    direction: ltr;
}
.formio-trn-rtl .alert-danger{
    background: #f2dede;
    color: #f04124;
}

.formio-trn-rtl .choices[data-type*=select-multiple] .choices__button, .formio-trn-rtl .choices[data-type*=text] .choices__button {
    margin: 0 8px 0 -4px;
    border-right: 1px solid #008fa1;
    border-left: none;
}
.formio-trn-rtl .col-sm-1,.formio-trn-rtl .col-md-1, .formio-trn-rtl .col-sm-2, .formio-trn-rtl .col-md-2, .formio-trn-rtl .col-sm-3, .formio-trn-rtl .col-md-3, .formio-trn-rtl .col-sm-4, .formio-trn-rtl .col-md-4, .formio-trn-rtl .col-sm-5, .formio-trn-rtl .col-md-5, .formio-trn-rtl .col-sm-6, .formio-trn-rtl .col-md-6, .formio-trn-rtl .col-sm-7, .formio-trn-rtl .col-md-7, .formio-trn-rtl .col-sm-8, .formio-trn-rtl .col-md-8, .formio-trn-rtl .col-sm-9, .formio-trn-rtl .col-md-9, .formio-trn-rtl .col-sm-10, .formio-trn-rtl .col-md-10, .formio-trn-rtl .col-sm-11, .formio-trn-rtl .col-md-11, .formio-trn-rtl .col-sm-12, .formio-trn-rtl .col-md-12{
    float: left;
}
.formio-trn-rtl input[inputmode="numeric"]{
    direction: ltr;
}
.formio-trn-rtl .choices__list--single .choices__item{
    padding-right: 20px;
    padding-left: 10px;
}
.formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h1, .formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h2, .formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h3, .formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h4, .formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h5,.formio-trn-rtl .panel.panel-primary .modal-dialog .modal-content h6{
    color: white;
}
.formio-trn-rtl .ltr{
    direction: ltr;
}
.formio-trn-rtl > .formio-form div.alert.alert-success{
    background-color: #e99002;
    border-color: #d08002;
}
/*fix huge datagrid width problem*/
.formio-trn-rtl .formio-component.formio-component-datagrid table td {
    min-width: 200px;
}

.formio-trn-rtl .formio-component.formio-component-datagrid{
    overflow-y: visible;
    overflow-x: scroll;
    width: auto;
}

.formio-choices > .choices__list--dropdown{
    position: sticky;
}

/*----------- APP:form fix & rtl styles -----------*/
.trnDatepicker{
    margin-top: -39px;
    position: relative;
}

.float-right{
    float: right !important;
}