@font-face{font-family:'irsans';src:url('../fonts/IRANSans-Light-web.eot');src:url('../fonts/IRANSans-Light-web.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSans-Light-web.woff2') format('woff2'), url('../fonts/IRANSans-Light-web.woff') format('woff'), url('../fonts/IRANSans-Light-web.ttf') format('truetype')}
body,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family:irsans;}
.panel .panel-heading .panel-toolbar{position:relative;top:-10px;left:0;float:left;}
.app-list-link i{font-size:19px;color:#ffffff;margin-top:7px;}
.app-list-link{border-radius:4px;height:120px;background:white;color:#494949;border:1px solid #53be95;transition:.3s;padding-top:45px;text-align:right;font-size:18px;margin-bottom:30px;width:100%;}
.app-list-link:hover{background:#fff none repeat scroll 0 0;border:2px solid transparent;box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.2);font-weight:bold;color:#53be95;}
.persian-datepicker-override-show,.has-success .input-group-addon.persian-datepicker-override-show{z-index:999;position:relative;margin-right:10px;padding-right:0;margin-top:-41px;float:right;background:none;border:none;font-size:13px;}
.date > input{font-size:12px;padding-top:29px;}
.persian-datepicker-override-picker{top:-39px;width:35px;position:relative;z-index:99;cursor:pointer;padding:9px;margin-right:-20px;line-height:18px;float:right;}
.form-date-find{padding:0px 12px;}
.input-group.date input{text-align:left;min-width:147px;}
.input-group.date .input-group-addon{padding-top:6px;padding-bottom:6px;}
.ScreenTreeNested{direction:ltr;}
.panel.panel-primary .modal-dialog .modal-content h1, .panel.panel-primary .modal-dialog .modal-content h2, .panel.panel-primary .modal-dialog .modal-content h3, .panel.panel-primary .modal-dialog .modal-content h4, .panel.panel-primary .modal-dialog .modal-content h5, .panel.panel-primary .modal-dialog .modal-content h6, .panel.panel-primary .modal-dialog .modal-content p, .panel.panel-primary .modal-dialog .modal-content span, .panel.panel-primary .modal-dialog .modal-content div, .panel.panel-primary .modal-dialog .modal-content label{color:black;}
.panel-heading{padding:15px 15px;}
.panel-default>.panel-heading{background:#f5f5f5;border-color:#dddddd;}
body.dev #top nav{background:#006687;}
#top nav{box-shadow:0 0 10px 0 rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0.27);}
.table td >div,.table th >div{padding:4px 10px;text-align:right;}
input:required:invalid, input:invalid, textarea:invalid{background:white;}
#content{min-height:calc(100% - 58px);}
.modal-title{text-align:center;}
.modal-header::after{content:"";border-left:400px solid transparent;border-right:400px solid transparent;border-top:30px solid #006687;position:absolute;top:37px;left:0px;}
#Filter p{text-align:right;}
nav.form-list-nav .pagination{background:#53be9540;border-radius:3px;padding:0px 10px;border:1px solid #53be95;margin:6px 6px 0 6px;}
table.table > thead > tr > th,table.table > thead > tr .form-list-nav{background:transparent;}
table.table > thead > tr > th{padding:7px 4px;border-bottom:none;}
table.table > thead{border-bottom:2px solid #c4c4c4;}
table.table > thead > tr.form-list-nav-row:nth-child(1) > th{border-left:none;}
table.table > thead > tr{background:#008cba24;border-bottom:2px solid #006687;border-top-left-radius:50px;border-right:2px solid #006687;border-top:2px solid #006687;border-left:2px solid #006687;}
table.table > thead > tr.form-list-nav-row{background:white;border:none;}
nav.form-list-nav .pagination{color:black;background:#00668736;border-radius:3px;padding:0px 10px;border:1px solid #006687;}
.pagination>li>a, .pagination>li:first-child>a, .pagination>li:last-child>a, .pagination>li>span, .pagination>li:first-child>span, .pagination>li:last-child>span{color:#01536d;}
table.table > tbody{border-bottom-left-radius:3px;border-bottom:2px solid #006687;border-right:2px solid #006687;border-left:2px solid #006687;border-bottom-right-radius:3px;}
table.table > thead > tr.form-list-nav-row > th{border-bottom:none;}
.bg-light{background-color:#f5f5f5 !important;color:#565656 !important;}
table.table > tbody > tr{background-color:white;}
table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#f7f7f7;}
table.table.table-hover>tbody>tr:hover{color:#006687;background-color:#008cba24;font-weight:bold;}
.formio-trn-rtl .choices[data-type*=select-one] .choices__button{left:7px;right:auto;}
.formio-trn-rtl input[pattern]{direction:ltr;}
.panel{border-radius:5px;-webkit-box-shadow:none;box-shadow:5px 10px 5px rgba(156, 151, 154, 0.26);border:1px solid #dddddd;border-radius:5px;}
.panel .panel{-webkit-box-shadow:none;box-shadow:none;}
.row-space-40{margin:20px 0;}
.table-condensed .modal .form-group{margin-bottom:15px;}
#history-menu ul > li > a{max-width:350px;overflow:hidden;}
.Payment-holder{background-size: cover;padding: 30px;margin: 10px auto;float: none;-webkit-border-radius: 4px;-moz-background-size: cover;-o-background-size: cover;background: rgba(255, 255, 255, 0.75);box-shadow: 3px 4px 17px 3px #a0a098;}
.login-holder{background-size:cover;padding:30px;border:1px solid rgba(50,50,50,0.19);margin:10px auto;float:none;-webkit-border-radius:4px;box-shadow:0 0 60px 20px rgba(0,0,0,0.5);-moz-background-size:cover;-o-background-size:cover;background:rgba(255, 255, 255, .75);}
.login-holder input{margin-top:15px;line-height:29px;}
.Login #login .form-signin{width:100%;}
.Login #login .form-signin{padding:0;}
.login-info-text{border-top:1px solid #dfdfdf;width:89%;margin:15px auto 0 auto;float:none;padding:15px 5px 0 5px;text-align:justify;font-size:13px;}
#content.Login{background:white;}
.login-header{border-bottom:5px solid #53BE95;margin:0 auto;background:#fff;height:80px;padding:8px 60px;margin-bottom:150px;box-shadow:0 0 10px 0 rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0.27);}
#login-footer p{margin:0;}
#login-footer{width:100%;position:relative;height:50px;margin:0 auto 0;padding-top:5px;}
.dashboard-holder{padding:15px;}
.dashboard-box{background:white;padding:20px 10px;-webkit-box-shadow:0 1px 4px rgba(4,2,3,0.15);box-shadow:0 1px 4px rgba(4,2,3,0.15);border:1px solid rgba(24,28,33,0.1);border-radius:2px;margin:15px;}
.Location div.input-group div{display:block;margin:0 0;}
.back_to_task:hover{background-color:#cecece;color:#333333;}
.back_to_task{position:relative;top:-60px;left:137px;background-color:#e7e7e7;color:#333333;font-size:11px;font-weight:900;height:32px;border:none;}
.title{font-size:23px;}
.list_p{width:100%;}
#ProcessList-button{border-radius:3px;background:#008cba;color:white;margin:0 0;width:100%;text-align:center;box-shadow:none;border:none;font-weight:bold;border-bottom:1px solid #008cba;}
#ProcessList-button:focus{outline:none;}
#ProcessList-button:hover{background:#036484;}
#ProcessListForm >fieldset > div > label{display:none;}
#ProcessListForm fieldset div div select{text-align:right;width:100%;}
#Filters_table tbody tr td div.form-group a{text-decoration:none;}
#ProcessListForm fieldset div.form-group:nth-of-type(1){display:inline-block;width:76%;float:right;text-align:right;}
#ProcessListForm fieldset div.form-group:nth-of-type(2){display:inline-block;position:relative;top:-25px;left:25px;}
#Filters_id_0__{}
#Filters_table tbody tr td div.form-group:after{}
#ProcessListForm_submitButton:after{content:'ÙØ±Ø¢ÛŒÙ†Ø¯';}
.massage{border-radius:5px;}
#content div.inner div.container-fluid div.row div.col-md-6 div.row div.col-md-6 h5{display:none;}
#content div.inner div.container-fluid div.row div.col-md-9 div.row div.col-md-6 h3{margin-top:35px;vertical-align:middle;font-size:18px;width:100%;font-weight:900;color:#006687;font-family:inherit;padding:12px 6px;word-spacing:-5px;}
@media (min-width:768px){.navbar-right ~ .navbar-right{margin-right:0px;margin-left:0px;}
}
#footer{background-color:#006687!important;border-top:5px solid #53be95;height:55px;}
#apps-footer-content> p> a{color:#ffffff;}
.formstyle{margin:0 auto;float:none !important;}
.navbar-inverse .navbar-nav > li > a{font-size:13px;}
a:hover{text-decoration:none;}
.btn{border-radius:4px;margin-bottom:5px;}
.filters> div> div> div> div> div.col-md-10> div> table{webkit-box-shadow:none;box-shadow:none;border:none;border-radius:0px !important;}
.filters> div> div> div> div> div.col-md-10> div> table> thead> tr> th{font-size:14px;border-top:0;padding:0px 4px 15px 0px;}
.modal-title{font-size:16px;}
.modal-header{border-top-left-radius:20px;color:white;background:#006687;text-align:center;border-top-right-radius:20px;padding:10px 15px 5px;min-height:40px;}
.modal-header> .close{border:1px solid #bb1a0a;padding:0 8px;border-radius:3px;background:#bb1a0a;color:white;opacity:1;box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);padding-top:3px;margin-top:-2px;}
table.task-boxes-list > tbody > tr > td{vertical-align:middle;}
table.task-boxes-list > tbody > tr > td:nth-child(2) > div{width:15px;padding:0;margin-left:10px;float:left;}
table.task-boxes-list > tbody > tr > td:nth-child(2) > div> a{color:#008cba;}
.btn-primary:focus{outline:none;}
.btn-primary:active{outline:none;}
.mb-50{margin-bottom:50px;}
.mt-5{margin-top:5px;}
.pr-10{padding-right:10px;}
.pl-50{padding-left:50px;}
.f13{font-size:13px;}
.headerformstyle{border-radius:7px;background:white;padding-top:7px;padding-bottom:7px;border:3px solid #008cba;width:81%;float:none;margin:0px auto 25px auto;}
.visibilhidden{visibility:hidden;}
.mb-0{margin-bottom:0px;}
.titlebold{font-weight:bold;color:#00a5bb;}
.mt-15{margin-top:15px;}
.navbar-inverse{min-height:50px;padding:4px 0;}
.navbar-collapse{padding:0;}
.navbar .btn{border:none;color:white;}
.navbar .btn .label, .speed-bar> div.container-fluid> div.navbar-right> a> span{top:-30px;float:right;margin-right:11px;background:#53be95;padding:3px 7px 2px 7px;border-radius:16%;font-size:11px;font-weight:normal;}
#history-menu-link{padding-top:6px;}
.speed-bar> div.container-fluid> div.navbar-right> a> i{color:#006687;}
.nav>li>a{padding:10px 10px;}
.navbar-text{margin:10px 5px;font-size:13px;}
#navbar-buttons > a.navbar-text{font-weight:bold;font-size:15px;}
.inner{padding-top:30px;}
#content{background-color:#fff7f7;background-image:url("../images/bright-squares.png");overflow-x:hidden;}
.container-fluid{padding-left:25px;padding-right:25px;}
.panel-heading{border-top-right-radius:5px;border-top-left-radius:5px;}
.panel-heading> .text-inline{font-size:14px;font-weight:bold;}
.panel-body{padding:25px 15px;}
.navbar-inverse .dropdown-menu{min-width:180px;top:45px;border-radius:5px;background:white;}
.navbar-inverse .dropdown-menu>li>a{color:#006687}
.navbar-inverse .dropdown-menu>.active>a, .navbar-inverse .dropdown-menu>li>a:hover, .navbar-inverse .dropdown-menu>.active>a:hover{background:#006687;color:#ffffff;}
.navbar-inverse .dropdown-menu>li>a{font-size:12px;}
.fix-table-width{overflow-x:scroll;}
.modal-content{border-radius:30px;border:5px solid;border-color:#006687;padding-bottom:30px;}
.form-group> .control-label{text-align:right;font-weight:bold;color:black;}
.table-condensed > thead > tr > th{vertical-align:middle;}
.selectivity-result-item{text-align:right;}
#Filters_table{border:none;box-shadow:none;}
.dropdown-menu i{padding-left:8px;margin-right:-8px;}
div.panel.panel-default> div.fix-table-width> table.table{box-shadow:none;}
.panel table.table{-webkit-box-shadow:none;-moz-box-shadow:none;border:none;margin:0;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{background-color:#c9dfe6;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{line-height:2;border-left:1px solid #ddd;}
.form-title{color:#006687;}
.form-header-field .form-control{height:34px;}
.ScreenTreeNested{direction:rtl;margin:6px 20px 4px 0;padding:0 9px 0 0;border-right:1px dashed grey;border-left:0;}
div.panel-default> div.fix-table-width{overflow-x:visible;}
ul.navbar-nav> li> a.dropdown-toggle> i{margin-right:5px;}
div#history-menu> ul.dropdown-menu{left:-70px;max-height:300px;overflow:auto;}
.navbar-inverse .dropdown-menu>li>a:focus{color:#006687;}
.form-check-label> span{padding-right:10px;}
.big-row-item>.form-group>label{text-align:right;padding-bottom:5px;}
.select2-container{float:right;text-align:right;}
fieldset.formio-component-fieldset{border:1px solid #8c8d8e;border-radius:5px;padding:20px 20px 30px 20px;background:#ffffff;}
.formio-component-fieldset> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#000;border-top-right-radius:6px;border-top-left-radius:6px;background:#ffffff;border-bottom:none;border-top:1px solid #8c8d8e;border-right:1px solid #8c8d8e;border-left:1px solid #8c8d8e;}
fieldset.fieldset-style-info{border:1px solid #008cba;border-radius:5px;padding:20px 20px 30px 20px;background:#b9b8b80d;}
.fieldset-style-info> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#008cba;border-top-right-radius:6px;border-top-left-radius:6px;background:#fbfbfb;border-bottom:none;border-top:1px solid #008cba;border-right:1px solid #008cba;border-left:1px solid #008cba;}
fieldset.fieldset-style-success{border:1px solid #53be95;border-radius:5px;padding:20px 20px 30px 20px;background:#53be952e;}
.fieldset-style-success> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#53be95;border-top-right-radius:6px;border-top-left-radius:6px;background:#e0f3ec;border-bottom:none;border-top:1px solid #53be95;border-right:1px solid #53be95;border-left:1px solid #53be95;}
fieldset.fieldset-style-primary{border:1px solid #008cba;border-radius:5px;padding:20px 20px 30px 20px;background:#008cba26;}
.fieldset-style-primary> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#008cba;border-top-right-radius:6px;border-top-left-radius:6px;background:#d9eef5;border-bottom:none;border-top:1px solid #008cba;border-right:1px solid #008cba;border-left:1px solid #008cba;}
fieldset.fieldset-style-danger{border:1px solid #f51801;border-radius:5px;padding:20px 20px 30px 20px;background:#f5180114;}
.fieldset-style-danger> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#f51801;border-top-right-radius:6px;border-top-left-radius:6px;background:#feedeb;border-bottom:none;border-top:1px solid #f51801;border-right:1px solid #f51801;border-left:1px solid #f51801;}
fieldset.fieldset-style-warning{border:1px solid #F5E625;border-radius:5px;padding:20px 20px 30px 20px;background:#f5e62517;}
.fieldset-style-warning> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#F5E625;border-top-right-radius:6px;border-top-left-radius:6px;background:#fefdeb;border-bottom:none;border-top:1px solid #F5E625;border-right:1px solid #F5E625;border-left:1px solid #F5E625;}
fieldset.fieldset-style-default{border:1px solid #8c8d8e;border-radius:5px;padding:20px 20px 30px 20px;background:#b9b8b80d;}
.fieldset-style-default> legend{font-weight:bold;width:auto;font-size:16px;padding:10px;margin-top:20px;margin-bottom:0px;color:#8c8d8e;border-top-right-radius:6px;border-top-left-radius:6px;background:#fbfbfb;border-bottom:none;border-top:1px solid #8c8d8e;border-right:1px solid #8c8d8e;border-left:1px solid #8c8d8e;}
div.formio-choices> div.form-control{border-radius:5px;}
div.formio-component> .form-control{border-radius:5px;}
.formio-component> textarea.form-control{border-radius:5px;}
.formio-trn-rtl .form-group.formio-title-default, .formio-trn-rtl .form-group.formio-title-primary, .formio-trn-rtl .form-group.formio-title-info, .formio-trn-rtl .form-group.formio-title-danger, .formio-trn-rtl .form-group.formio-title-success, .formio-trn-rtl .form-group.formio-title-warning{text-align:center;}
.formio-title-default> label{font-weight:bold;width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#8c8d8e;color:#8c8d8e;}
.formio-title-primary> label{width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#008cba;color:#008cba;}
.formio-title-info> label{font-weight:bold;width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#008cba;color:#8c8d8e;}
.formio-title-danger> label{width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#f32706;color:#f32706;}
.formio-title-success> label{font-weight:bold;width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#53be95;color:#53be95;}
.formio-title-warning> label{font-weight:bold;width:auto;font-size:18px;text-align:center;padding-bottom:10px;border-bottom:double;border-color:#F5E625;color:#F5E625;}
.formio-trn-rtl input[type="radio"], .formio-trn-rtl input[type="checkbox"]{border-radius:4px;border:2px solid #008cba;cursor:pointer;display:inline-block;height:17px;position:relative;width:17px;-webkit-appearance:none;}
.formio-trn-rtl input[type="radio"]:after, .formio-trn-rtl input[type="checkbox"]:after{content:'';display:block;height:15px;right:0px;position:relative;top:0px;width:14px;}
.formio-trn-rtl input[type="radio"]:checked:after, .formio-trn-rtl input[type="checkbox"]:checked:after{background:url(../images/iconcc.png);z-index:9;}
.formio-trn-rtl .radio span{font-weight:bold;margin-right:10px;float:left;}
.formio-component-well{border:none;box-shadow:none;}
.formio-component-datagrid{margin-top:30px;border:1px solid #8c8d8e;border-radius:4px;background:#ffffff;}
.formio-data-grid> tbody> tr> td, .formio-data-grid> thead> tr> th{vertical-align:middle;}
table.formio-data-grid> thead> tr> th{background:#ffffff;padding:15px;font-weight:bold;color:#333333;font-size:15px;}
table.formio-data-grid > tbody > tr{border-bottom-color:#0d87e9;}
.formio-component-datagrid> label{font-size:16px;padding:10px;margin:-20px 20px;border-top-right-radius:6px;border-top-left-radius:6px;background:#ffffff;border-bottom:none;border-top:1px solid #8c8d8e;border-right:1px solid #8c8d8e;border-left:1px solid #8c8d8e;}
div.formio-component-table{border-radius:5px;border:1px solid;border-color:#8c8d8e;}
div.formio-component-table > table > tbody > tr:nth-child(1){background:#f7f7f7;}
div.formio-component-table > table > tbody > tr:nth-child(1)> td{vertical-align:middle;font-size:14px;font-weight:bold;}
div.formio-table-primary{border-color:#008cba;}
div.formio-table-primary > table > tbody > tr:nth-child(1), div.formio-table-primary > .table-striped>tbody>tr:nth-of-type(odd){background:#008cba12;}
div.formio-table-primary > table > tbody > tr:nth-child(1)> td{color:#008cba;}
div.formio-table-success{border-color:#52bd94;}
div.formio-table-success > table > tbody > tr:nth-child(1), div.formio-table-success > .table-striped>tbody>tr:nth-of-type(odd){background:#f3faf7;}
div.formio-table-success > table > tbody > tr:nth-child(1)> td{color:#52bd94;}
div.formio-table-info{border-color:#008cba;}
div.formio-table-info > table > tbody > tr:nth-child(1), div.formio-table-info > .table-striped>tbody>tr:nth-of-type(odd){background:#06060605;}
div.formio-table-info > table > tbody > tr:nth-child(1)> td{color:#008cba;}
div.formio-table-warning{border-color:#F5E625;}
div.formio-table-warning > table > tbody > tr:nth-child(1), div.formio-table-warning > .table-striped>tbody>tr:nth-of-type(odd){background:#fefef2;}
div.formio-table-warning > table > tbody > tr:nth-child(1)> td{color:#F5E625;}
div.formio-table-danger{border-color:#f32706;}
div.formio-table-danger > table > tbody > tr:nth-child(1), div.formio-table-danger > .table-striped>tbody>tr:nth-of-type(odd){background:#f3270612;}
div.formio-table-danger > table > tbody > tr:nth-child(1)> td{color:#f32706;}
.formio-datagrid-primary{border:1px solid #008cba;}
.formio-datagrid-primary> table> thead> tr> th{color:#008cba;}
.formio-datagrid-primary> table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#008cba1f;}
.formio-datagrid-success{border:1px solid #53be95;}
.formio-datagrid-success> table> thead> tr> th{color:#53be95;}
.formio-datagrid-success> table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#53be9521;}
.formio-datagrid-success> table.formio-data-grid > tfoot button.formio-button-add-row{background:#53be95;border:1px solid #53be95;}
.formio-datagrid-info{border:1px solid #008cba;}
.formio-datagrid-info> table> thead> tr> th{color:#008cba;}
.formio-datagrid-info> table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#94969521;}
.formio-datagrid-warning{border:1px solid #F5E625;}
.formio-datagrid-warning> table> thead> tr> th{color:#F5E625;}
.formio-datagrid-warning> table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#f5e6251f;}
.formio-datagrid-warning> table.formio-data-grid > tfoot button.formio-button-add-row{background:#F5E625;border:1px solid #F5E625;}
.formio-datagrid-danger{border:1px solid #bb1a0a;}
.formio-datagrid-danger> table> thead> tr> th{color:#bb1a0a;}
.formio-datagrid-danger> table.formio-data-grid > tbody > tr:nth-of-type(odd){background-color:#bb1a0a1c;}
.formio-datagrid-danger> table.formio-data-grid > tfoot button.formio-button-add-row{background:#bb1a0a;border:1px solid #bb1a0a;}
.btn-default{font-weight:bold;color:#2f2e2e;background-color:#eceaea;border-color:#d6d6d6;font-size:13px;}
.btn-default:hover, .btn-default:active, .btn-default:focus, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:active{color:#006687;background-color:#d5d4d4;border:none;border-color:#cecece;}
.btn-success{color:#ffffff;background-color:#53be95;border-color:#53be95;}
.btn-success:hover, .btn-success:active, .btn-success:focus{color:#ffffff;background-color:#449e7c;border-color:#449e7c;}
.btn-warning{background:#F5E625;border:#F5E625;font-weight:bold;}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus{color:#ffffff;background-color:#cabd1b;border-color:#cabd1b;}
.btn-danger{background:#bb1a0a;border:#bb1a0a;font-weight:bold;}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus{color:#ffffff;background-color:#941d09;border-color:#941d09;}
.well.well-nostyle{border:none;background:transparent;box-shadow:none;}
fieldset.fieldset-nostyle{border:none;padding:0;}
fieldset.fieldset-nostyle> legend{font-weight:normal;width:100%;font-size:inherit;padding:0;margin-top:0;border:none;}
div.formio-table-nostyle{border:none;}
div.formio-table-nostyle > table > tbody > tr:nth-child(1), div.formio-table-nostyle > .table-striped>tbody>tr:nth-of-type(odd){background:none;}
.formio-datagrid-nostyle{border:none;}
.formio-datagrid-nostyle> table.formio-data-grid > tbody > tr:nth-of-type(odd){background:none;}
.formio-button-remove-row{color:#ffffff;background-color:#bb1a0a;border-color:#bb1a0a;font-size:13px;}
.formio-trn-rtl .radio-inline input[type="radio"], .formio-trn-rtl .radio-inline input[type="checkbox"]{margin-left:5px;}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group > .btn:last-child:not(:first-child){margin-right:3px;height:35px;width:45px;background:none;border-top-right-radius:0px;border:none;}
.app-list-link> i{border-radius:50%;padding:20px;float:right;margin-right:12px;margin-top:-15px;background:#53be95;margin-left:15px;}
.app-list-link> img{height:70px;float:right;margin-top:-17px;margin-right:15px;border-left:1px solid #53be95;margin-left:15px;padding:5px 0 5px 15px;}
#header-menus ul > li > a > img{padding-left:8px;height:24px;}
.top-header{height:115px;background-color:#6d93c2;background-image:url('../images/back-header.jpg');box-shadow:0px 15px 10px -15px #111;background-size:cover;}
.img-navbar-logo{height:28px;display:inline;border-left:1px solid white;padding-left:14px;padding-bottom:5px;margin-top:6px;margin-left:9px;margin-right:5px;}
.img-header{text-align:right;float:right;height:100px;margin-right:40px;margin-top:11px;}
.title-header{float:right;font-size:18px;padding-top:10px;color:white;}
.form-range-find, .form-range-find{float:right;text-align:right;padding:0px 5px;}
.form-control{line-height:1.7;}
input.form-control{box-shadow:none;}
div.formio-choices> div.form-control{overflow:hidden;}
.panel-height-scroll-400 .panel-body{max-height:400px;overflow:auto;margin:0;width:100%;}
.force-inline{display:inline;}
.mar-1020{margin:10px 20px 0 0;}
form#SearchOptions> fieldset> div> div> div:nth-child(1){float:right;margin-top:5px;margin-left:25px;}
.fc-rtl .fc-toolbar .fc-center h2{direction:rtl;}
.panel-success>.panel-heading{color:#ffffff;background-color:#53be95;border-color:#53be95;}
.nav-tabs>li>a{border: none;border-radius: 3px;background-color: #006687;color: #ffffff; /* margin-left: 5px; */border-bottom: 2px solid #fff;}
.nav-tabs>li.active>a , .nav-tabs>li.active>a:hover , .nav-tabs>li.active>a:focus{font-weight:bold;color:#006687;background-color:#ffffff;border:2px solid #006687;border-bottom-color:transparent;cursor:default;transition:.3s;}
div#task-panel-tabpanel> form> fieldset{padding:25px;background:white;}
.nav>li>a:hover{color:white;background-color:#006687;}
.modal-body{text-align:right;direction:rtl;top:30px;}
.big-row-item{margin-bottom:25px;float:right;margin-right:30px;}
.panel-body>table.table{width:100%;}
.formio-component-file .col-md-1,.formio-component-file .col-md-2,.formio-component-file .col-md-9{min-height:0;}
div.container-fluid> div.alert.alert-danger{box-shadow:5px 10px 5px rgba(156, 151, 154, 0.26);background-color:#fff7f6;border-color:#ea2f10;color:#ea2f10;border-top:5px solid;border-radius:3px;}
div.container-fluid> div.alert.alert-danger> button{padding:7px 11px 5px 11px;background:#ea2f10;border-radius:50%;}
div.container-fluid> div.alert.alert-warning{box-shadow:5px 10px 5px rgba(156, 151, 154, 0.26);border-top:5px solid;background-color:#fff4e4;border-color:#d08002;color:#d08002;border-radius:3px;}
div.container-fluid> div.alert.alert-warning> button{padding:7px 11px 5px 11px;background:#d08002;border-radius:50%;}
div.container-fluid> div.alert.alert-success{box-shadow:5px 10px 5px rgba(156, 151, 154, 0.26);border-top:5px solid;background-color:#e9fff1;border-color:#3c9a5f;color:#3c9a5f;border-radius:3px;}
div.container-fluid> div.alert.alert-success> button{padding:7px 11px 5px 11px;background:#3c9a5f;border-radius:50%;}
div.container-fluid> div.alert.alert-info{box-shadow:5px 10px 5px rgba(156, 151, 154, 0.26);background-color:#eefafd;border-color:#3db5d8;color:#3db5d8;border-top:5px solid;border-radius:3px;}
div.container-fluid> div.alert.alert-info> button{padding:7px 11px 5px 11px;background:#3db5d8;border-radius:50%;}
.ql-toolbar .ql-font span[data-label="IranNastaliq"]::before{font-family:"IranNastaliq";}
.ql-toolbar .ql-font span[data-label="B Zar"]::before{font-family:"B Zar";}
.form-infos{border:1px dashed #5bc0de;padding:5px 10px;border-radius:3px;}
.mt-40{margin-top:40px;}
.bottomtops{height:35px;width:45px;background:none;}
.bottomtops> i, .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle)>i, .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle)> i, .btn-group > .btn:last-child:not(:first-child)> i{margin-top:3px;font-size:15px;}
.navbar-right.btn{margin-right:2px;}
.pl-0{padding-left:0px;}
.pr-0{padding-right:0px;}
.pl-7{padding-left:7px;}
.pr-7{padding-right:7px;}
#footer{margin:-7px auto 0 auto;}
#sidenav01 >li{width:100%;}
.nav>li>a>img{height:30px;margin-left:10px;padding:3px;background:white;border-radius:4px;}
.navbar-default{background-color:#006687;}
.navbar-default .navbar-nav>li>a{padding:8px 10px;font-size:12px;border-bottom:1px dashed #1082a2;color:#ffffff;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus, #sidenav01> li.active> a{box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.2);background:#53be95;color:#ffffff;}
.sidebar-nav{background:#006687;display:block;height:600px;overflow:auto;position:relative;}
.speed-bar{border-bottom:3px solid #53be95;box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.2);height:47px;background:white;padding:3px 0px;}
#header-menus> li{font-size:12px;}
#header-menus> li> a{color:#006687;}
#header-menus> li> a:hover{color:#fff;}
.organ-name{margin:5px;padding:0px 10px;}
.navbar-btn:hover{color:#9a9a9a;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;right:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 5px 5px 0px;border-right-color:#ccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-right-color:#fff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.bg-light.Login{background:none;}
.colorb{color:#000000;}
.login-holder .login-but{margin-left:6px;}
.login-holder .register-but{padding:12px 10px;line-height:17px;font-size:16px;background:#53BE95;margin-right:6px;border:none;}
.login-holder .register-but:hover{background:#46a07e;}
.floatr{float:right;}
.mt-20{margin-top:20px;}
.colorw{color:#fff;}
.login-footer{margin-top:-20px;box-shadow:-5px 0 5px -5px #333;border-top:5px solid #53be95;background:white;height:70px;}
.floatl{float:left;}
.text-cent{text-align:center;}
.mt-10{margin-top:10px;}
.panel-info>.panel-heading .modal .form-group{color:black;}
div.login-footer > div > div > p:nth-child(1)> a{color:#000000;}
.pt-55{padding-top:55px;}
.text-muted{color:#000;}
.dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover{color:#fff;background-color:#006687;}
.logout-but{border:1px solid #c31424;background:#c31424;}
.dropdown-menu> li> a > img{height:25px;padding-right:0px;padding-left:5px;}
.p-40{padding:40px;}
.ml-9{margin-left:9px;}
.login-buts{border-radius:3px;width:104px;margin-top:25px;background:#969494;border:1px solid #969494;padding:5px;}
.login-buts> a{color:#fff;}
.form-builder-panel{background: #ffffff;border: 1px silver solid;}
.form-builder-panel> .form-builder-group-header> h5> button{font-size:19px;}
.form-builder-panel> .panel-collapse> .card-body{margin:2px;}
.form-builder-panel> .panel-collapse> .card-body> span.drag-copy{padding: 4px;margin-top:5px;font-size:13px;}
.form-builder-panel> .panel-collapse> .card-body> span.drag-copy> i{margin-right:5px;font-size:12px;padding:6px 7px;border-radius:4px;margin-bottom:0px;text-align:center;vertical-align:middle;}
.formio-form> .formarea{border:dotted 2px #ccc;}
.formio-form> .formarea:hover{border:dotted 2px #757474;}
.borderl{border-right:1px solid #53be95;}
.borderl> h4 , .import-json>h4{color:#53be95;}
.export-json> .btn-group> div#saveForm, .export-json> .btn-group> div#dlEntity, .borderl> .btn-group> div#requireForm, .borderl> .btn-group> div#disableForm, .borderl> .btn-group> div#ToggleClearHidden, .borderl> .btn-group> div#toggleEmbedForm{color:#ffffff;background-color:#008cba;border-color:#0079a1;border-radius:4px;margin-bottom:5px;padding:8px 12px;font-size:12px;line-height:1.5;font-weight:normal;text-align:center;vertical-align:middle;background-image:none;border:1px solid;white-space:nowrap;width:auto;margin-left:5px;}
.formio-dialog.formio-dialog-theme-default .formio-dialog-content{background:#d5f3e7;}
.formio-component-tabs> .nav-tabs{margin-bottom:-2px;}
.formio-component-tabs> .nav-tabs> li.active{margin-bottom:-5px;}
.formio-component-tabs> .nav-tabs> li> a , .formio-component-tabs> .nav-tabs> li> a:hover{color:white;border-bottom-left-radius:0px;border-bottom-right-radius:0px;background:#008cba;border:#008cba;}
.formio-component-tabs> .nav-tabs> li.active> a , .formio-component-tabs> .nav-tabs> li.active> a:hover , .formio-component-tabs> .nav-tabs> li.active> a:focus{height:37px;border-bottom:none;border-left:2px solid #008CBA;border-top:2px solid #008CBA;border-right:2px solid #008CBA;color:#008CBA;background:white;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:0px;box-shadow:none;}
.formio-component-tabs> div.tab-content{margin-top:2px;z-index:99999999;padding:15px;background:white;padding-top:12px;border:2px solid #008CBA;border-top-left-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.formio-component-tabs> .tab-content> div.active> .formio-component> label{font-weight:normal;}
.formio-component-tabs> .tab-content> div.active> .formio-component> label> i{color:#008CBA;}
.formio-component-tabs input[type="radio"], .formio-component-tabs input[type="checkbox"] , .moqui-form-single input[type="checkbox"] , .moqui-form-single input[type="radio"]{border-radius:4px;border:2px solid #008cba;cursor:pointer;display:inline-block;height:17px;position:relative;width:17px;-webkit-appearance:none;margin-right:10px;margin-left:initial;}
.formio-component-tabs input[type="radio"]:checked:after, .formio-component-tabs input[type="checkbox"]:checked:after , .moqui-form-single input[type="checkbox"]:checked:after , .moqui-form-single input[type="radio"]:checked:after{background:url(../images/iconcc.png);z-index:9;}
.formio-component-tabs input[type="radio"]:after, .formio-component-tabs input[type="checkbox"]:after , .moqui-form-single input[type="checkbox"]:after , .moqui-form-single input[type="radio"]:after{content:'';display:block;height:15px;right:0px;position:relative;top:0px;width:14px;}
.formio-component-tabs> .tab-content> div.active> .formio-component-radio> .form-group> .form-check-inline.radio-inline>label> input[type="radio"]{margin-left:-4px;}
.formio-dialog-theme-default> .formio-dialog-content>div> div> div> div> p.lead{color:#008cba;}
div.formio-dialog-content > div > div > div > div > div > a{padding:7px;border:1px solid;border-radius:4px;}
.formio-dialog-content .panel{box-shadow:none;border:none;}
.formio-dialog-content .panel> .panel-body{border:1px solid #008cba;}
.formio-dialog-content .panel .panel-heading{background:#008cba;}
.formio-dialog-content .panel .panel-heading> h4{color:#ffffff;}
.formio-dialog-content .panel .panel-heading> h4> i{color:#fff;border:1px solid #fff;padding:5px;}
.formio-component-tabs> div> div> div> label> div> div.tooltip-inner{background:#008cba;border-radius:4px;}
.formio-component-tabs> div> div> div> label> div> div.tooltip-arrow{left:0;border-right:5px solid #008cba;}
.form-check-label> span{padding-left:5px;}
.formio-component-tabs> div.tab-content> div > div> div.panel-heading> h4{font-size:15px;}
.formio-component-tabs> div.tab-content> div > div> div.panel-heading> h4> i{margin-top:-4px;}
.formio-component-tabs> div.tab-content> div > div> div.panel-heading{padding:9px 15px;}
.bpp-properties , .dmn-decision-table-container , .bjs-powered-by , .comments-overlay .comments{direction:ltr;}
.bpp-properties-header> div.label{color:#53be95;}
.comments-overlay .edit textarea{direction:ltr;color:black;}
.dmn-decision-table-container thead .type-ref{text-align:center;}
ul.nav.nav-tabs{margin-bottom:-3px;}
.meepo-tabs{background:white;padding:15px;border-radius:4px;border:2px solid #006687;}
.modal-open .modal{background:unset;border:unset;padding:unset;}
button.iconCaptcha{font-family:FontAwesome;}
button.iconCaptcha::before{content:"\f021";}
.modal-dialog{min-width:800px;width:800px;}
.modal-body> form > fieldset.form-horizontal{padding:10px;border-radius:3px;}
span.selection> span.select2-selection--single[role="combobox"] , input[type="checkbox"].form-control{margin-top:10px;}
.moqui-form-single input{border-radius:3px;max-height:35px;}
.moqui-form-single span.select2-container{width:100%;margin-bottom:10px;}
.moqui-form-single > fieldset.form-horizontal{background:#fff;padding:25px;}
.panel-toolbar .moqui-form-single > fieldset.form-horizontal{background:none;padding:0px;}
.moqui-form-single span.pwt-datepicker-input-element{border-radius:3px;background:#008cba;color:white;border-color:#008cba;margin-right:0px;}
.formio-disabled-input > .ql-toolbar.ql-snow{display:none;}
.formio-disabled-input >.ql-toolbar.ql-snow + .ql-container.ql-snow{border-top:1px solid #ccc;}
.statusChange{border:1px solid #008cba;margin:5px 0px;border-radius:3px;padding:4px 0px;}
.elfinder .elfinder-button-search{width:210px;}
.formio-component-datagrid .formio-component-select{min-width:170px;}
.trn-dashboard-item .trn-dashboard-item-title{width:220px;color:#3d8cba;padding-bottom:15px;border-bottom:1px solid #3d8cba;text-align:center;margin:0 auto;}
.trn-dashboard-item .trn-dashboard-item-text{padding-top:30px;font-size:13px;min-height:100px;}
.trn-dashboard-item .trn-dashboard-img{width:70px;margin-bottom:20px;}
.trn-dashboard-item{padding:20px 30px;border-radius:4px;background:white;color:#494949;border:1px solid #53be95;transition:.3s;text-align:center;font-size:18px;margin-bottom:30px;}.swal-width-1124{width:1124px;}.bpms-admin-iframe{margin-bottom:-79px;margin-top:-35px;}#wiki-page-area p{line-height:26px;font-size:14px;margin-bottom:12px;}#wiki-page-area li{line-height: 26px;}#wiki-page-area img{max-width: 85%;margin: 15px auto;float:none;padding:0px;border:4px solid #006687;border-radius:3px;margin-right:7.5%;}
.table-scroll-wrapper{overflow-x: scroll;width: 100%;}
div.formio-component> .trnDatepicker{background: white;}
div.formio-component> .disableJalaliDate{background-color: #eeeeee !important;}
.panel-warning>.panel-heading{color: #000;}
.panel-warning>.panel-heading> h5{color: #fff;}
#taskForm > div > div.alert.alert-danger:first-child{position:fixed;top:90px;z-index:9;right: 15%;}
.navbar-nav>li>.dropdown-menu{margin-top: -5px;}


/*    kksk pages style    */
#associationOrgPanel-menu{width: 14%;float: right; }
#associationOrgPanel-menu li{width: 100%;}
#associationOrgPanel-tabpanel .meepo-tabs{float: left;width: 85%;}
#associationOrgPanel-menu li a{height: auto !important;}
#associationOrgPanel-menu li a:hover{background-color: #fff !important; color: #006687 !important;border:2px solid #006687 !important; font-weight: bolder;transition-duration: 0.3s;width: 101%;height: 39px;text-shadow: 2px 2px 4px #99a1ca;}
/*    kksk pages style    */
