<input type="text" hidden value="${ec.web.sessionToken}" id="saveFormSessionToken">
<script src="/trnstatic/3rd/xon/xon.js" type="text/javascript"></script>
<link rel="stylesheet" href="/trnstatic/3rd/xon/xon.css" type="text/css"/>
<script src="./common/xmlSpec/xmlSpec.js" type="text/javascript"></script><script src="./common/xmlfunctions.js" type="text/javascript"></script>
<script src="./restBuilder/restXmlSpec.js" type="text/javascript"></script>
<script src="./restBuilder/main.js" type="text/javascript"></script>
